.inputs {
    background-color: yellowgreen;
    padding: 10px; border-radius: 100px;
    text-align: justify;
    border-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#btn {background-color: pink;
    border-radius: 100px;border-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"

}